name: Deploy Blog Project

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH Key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Deploy to VPS
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "
            cd /var/www/blog

            # Export all PROD_ secrets
            for name in $(compgen -v | grep '^PROD_'); do
              export \${name#PROD_}=\${!name}
            done

            git pull origin main
            npm install
            npm run build
            npm run migrate:prod
            pm2 restart ecosystem.config.js --env production --update-env
          "
